body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.Orange-Color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    
}

.half-width img{
    width: 75%;
}

.Link-Button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.mi{
    height: 105%;
    width: 100%;
}

.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.shadowing{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    border-radius: 5px;  
    box-shadow: 10px 10px 40px gray;
}

.Experinence-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#noob{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#Pro{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(219, 11, 80), tomato);
    border-image-slice: 1;
}

footer{
    text-align: center;
}